<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>  
    {{ content_for_header }}

  </head>

  <body class="gradient">
    HEADER
     {{ content_for_layout }}
   FOOTER
  </body>
</html>
