<h2>Page title: {{page.title }}</h2>
Text from section
{% if section.settings.my-setting-1 %}
<h4>setting: {{ section.settings.my-setting-1 }}</h4>
{% endif %}
{% schema %}
  {
    "name": "my section",
    "settings": [
		{
			"id":"my-setting-1",
			"type": "text",
			"label": "Setting 1"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
